<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no, maximum-scale=1.0,">
    <title>Mint Assessment (ALPHA)</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="modal.css">
    <link rel="stylesheet" href="test.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand">百词斩 | 宇宙中心研究院</a>
        </div>
    </nav>

    <div class="container" id="app">
        <div class="col-sm-6" v-if="!showTest">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>测试列表</h3>
                </div>

                <div class="panel-body">
                    <div class="list-group">
                        <div class="list-group-item" v-if="tests" v-for="(test, index) in tests">
                            <h4 class="list-group-item-heading">
                                <i class="glyphicon glyphicon-list"></i>
                                 创建时间: {{ test.updateTime }} , 题目数: {{ test.questionAmount }}
                            </h4>

                            <button class="btn btn-sm btn-primary" v-if="!test.finished" v-on:click="startTest(index)">开始 ></button>
                            <button class="btn btn-sm disabled" v-if="test.finished">已完成</button>
                        </div>
                    </div>
                    <p>感谢你对Mint Assessment的贡献! <br> 请不要使用浏览器的"隐身模式"完成测试.</p>
                </div>
            </div>
        </div>

        <!--test zone-->
        <div class="container-fluid" v-if="showTest">
    <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h3 v-if="!showScore"><span class="label label-primary" id="qid">{{ questionIndex }}</span> </h3>
             <h3 v-if="showScore">测试完成!</h3>
             <!--<h5>{{ curQuestion.question }}</h5>-->
        </div>
        <div class="modal-body">
             <p v-if="!showScore" style="font-size: 16px">{{ curQuestion.passage}} </p>
            <p v-if="!showScore" style="padding-top: 5px; padding-botton: 5px;font-size: 16px;"><b>{{ curQuestion.question }}</b></p>
            <p v-if="showScore" style="padding-top: 5px; padding-botton: 5px;font-size: 16px;"><b>感谢你参加这次测试!您的测试分数为 {{correctItems}} / {{test.questionAmount}}</b></p>
            <div class="col-xs-3 col-xs-offset-5">
               <div id="loadbar" style="display: none;">
                  <div class="blockG" id="rotateG_01"></div>
                  <div class="blockG" id="rotateG_02"></div>
                  <div class="blockG" id="rotateG_03"></div>
                  <div class="blockG" id="rotateG_04"></div>
                  <div class="blockG" id="rotateG_05"></div>
                  <div class="blockG" id="rotateG_06"></div>
                  <div class="blockG" id="rotateG_07"></div>
                  <div class="blockG" id="rotateG_08"></div>
              </div>
          </div>



          <div v-if="!showScore" class="quiz" id="quiz" data-toggle="buttons">
           <label  v-bind:class="[userChoiceRandomIndex == index ? 'btn-info' :'btn-default' , 'choice', 'element-animation1', 'btn', 'btn-lg', 'btn-block' ]" v-on:click="chooseAnswer(choice.oriIndex, index)" v-for="(choice, index) in curQuestion.choices">
               <span class="btn-label">
                   <i class="glyphicon glyphicon-chevron-right"></i>
               </span>
               <input type="radio" name="q_answer">
               {{ choice.content }}
           </label>

       </div>
   </div>
   <div class="modal-footer text-muted" v-if="!showScore">
       <div class="btn btn-primary" v-if="userChoiceRandomIndex >= 0 && !curQuestion.isFinished" v-on:click="submitQuestion()">Submit</div>
       <div class="btn btn-primary" v-if="userChoiceRandomIndex >= 0 && curQuestion.isFinished" v-on:click="finishTest()">Finish</div>
</div>
          <div class="modal-foot text-muted" v-if="showScore && scoreSuccess">
              <!--<div class="btn btn-primary"> <a href=".">返回</a></div>-->
               <input type="button" class="btn btn-primary" value="返回" onclick="location.href = '.';">

          </div>
</div>
</div>
</div>


        <modal v-if="showModal" @close="showModal = false">
            <h4>hello</h4>
        </modal>

    </div>


    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <div class="modal-header">
                            <slot name="header">
                                请选择最符合你英语水平的一项
                            </slot>
                        </div>

                        <div class="modal-body">
                            <slot name="body">
                                <!-- Single button -->
                                <div class="btn-group">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    入门 <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                      <li v-on:click="createUser('elementary')"><a>入门</a></li>
                                      <li v-on:click="createUser('junior high')"><a>初中</a></li>
                                      <li v-on:click="createUser('high school')"><a>高中</a></li>
                                      <li v-on:click="createUser('CET4')"><a>CET4 425+</a></li>
                                      <li v-on:click="createUser('CET6')"><a>CET6 425+</a></li>
                                      <li v-on:click="createUser('TOEFL 80')"><a>TOEFL 80+ / IELTS 6+</a></li>
                                      <li v-on:click="createUser('TOEFL 100')"><a>TOEFL 100+ / IELTS 7+</a></li>
                                      <li v-on:click="createUser('TOEFL 115')"><a>TOEFL 110+ / IELTS 7.5+</a></li>
                                      <li v-on:click="createUser('TEM8 80')"><a>TEM8 80+</a></li>
                                  </ul>
                                </div>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>


    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/js/dropdown.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="node_modules/vue-localstorage/vue-localstorage.min.js"></script>
    <script src="app.js"></script>
</body>
</html>